.avatar {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.container {
  padding: 0 1vw;
  width: 100%;
  overflow: auto;
  background: url("/images/oak2.webp") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  min-height: 100vh;
  padding: 5vh 15vw;
  // color: rgba(255, 255, 255, 0.1);
}

.songListTable {
  :global {
    .ant-table {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 20px;
      border: solid 2px #dfdfdf;
      overflow: hidden;
    }
    .ant-input {
      border-radius: 20px;
      border: solid 2px #dfdfdf;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.4);
    }
    .ant-input:focus,
    .ant-input:hover {
      border-color: rgb(160, 200, 160);
      background-color: rgba(255, 255, 255);
    }
    // .ant-table-thead {
    //   width: 100%;
    // }
    .ant-table-thead > tr > th {
      background-color: rgba(255, 255, 255, 0.1);
      font-size: 20px;
      font-weight: bold;
    }
    .ant-table-tbody > tr {
      background-color: rgba(255, 255, 255, 0.1);
      font-weight: 400;
      font-size: 16px;
    }

    .ant-table-tbody > tr.ant-table-row:hover > td,
    .ant-table-tbody > tr > td.ant-table-cell-row-hover {
      background-color: rgba(160, 200, 160, 0.4) !important;
    }

    .ant-table-cell {
      border-bottom: none;
    }
  }
}

.headWrapper {
  margin-bottom: 20px;
  :global {
    .ant-card {
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
.flipHeader {
  width: clamp(300px, 400px, 90vw);
  margin: 0 auto;
  text-align: center;
  height: 300px;
  .frontCard,
  .backCard {
    height: 100%;
    width: 100%;
  }
  .backCard {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
  }
}
@media (any-hover: hover) {
  .flipHeader {
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
    .frontCard,
    .backCard {
      position: absolute;
      left: 0;
      top: 0;
      backface-visibility: hidden;
    }
    .backCard {
      transform: rotateY(180deg);
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 20px;
    }
  }
  .flipHeader:hover {
    transform: rotateY(180deg);
  }
}

@media (any-hover: none) {
  .backCard {
    visibility: hidden;
  }
}

.filter {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  :global {
    .ant-btn,
    .ant-btn:focus {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: rgba(217, 217, 217);
      color: rgba(0, 0, 0, 0.85);
      margin-left: 1vw;
    }
    .ant-btn:hover {
      background-color: rgba(255, 255, 255, 0.8);
      border-color: rgba(133, 145, 94);
      color: rgba(133, 145, 94);
    }
  }
}

@media (max-width: 600px) {
  .filter {
    flex-wrap: wrap;
    :global {
      .ant-input {
        width: 100%;
      }
    }
  }
}

.activeFilter {
  background-color: rgba(93, 168, 116, 0.9) !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  color: rgb(80, 98, 90);
}

.title {
  text-align: center;
}

@media (max-width: 600px) {
  .main {
    min-height: 100vh;
    padding: 5vh 5vw;
    // color: rgba(255, 255, 255, 0.1);
  }
}

@media (prefers-color-scheme: dark) {
}
